.form-group{
  margin:auto;
  }
  .users-new-wrapper .users-new-container {
      padding-top: 20px;
      margin-top: 50px;
  }
.comment{
  font-size: 14px;
  font-family: monospace;
  margin-left: 20px;
  color: #848484;
}

.new_comment{
  margin-top: 200px;

}
